.home-hero-container-version-2 {
  .content-text {
    @include interpolate('padding-left', 375px, 60px, 1024px, 120px, 'ease-in');
    @include interpolate('padding-right', 375px, 60px, 1024px, 120px, 'ease-in');
  }

  @include interpolate('padding-top', 375px, 60px, 1024px, 120px, 'ease-in');
  @include interpolate('padding-bottom', 375px, 60px, 1024px, 120px, 'ease-in');

  h1 {
    font-size: 48px;
  }

  .service-about {
    width: 100%;
    display: grid;
    justify-content: space-between;
    gap: 30px 120px;
    grid-template-columns: 1fr 1fr;

    .service-intro {
      p {
        font-size: 20px;
        line-height: 1.6;
        font-weight: 500;
      }
    }

    .service-content {
      p {
        font-size: 18px;
        line-height: 1.6;
      }
    }
  }
}

.service-what-wedo {
  width: 100%;
  display: grid;
  justify-content: space-between;
  // padding: 4vw;
  @include interpolate('padding-top', 375px, 40px, 1024px, 120px, 'ease-in');
  @include interpolate('padding-bottom', 375px, 40px, 1024px, 120px, 'ease-in');
  @include interpolate('padding-left', 375px, 15px, 1024px, 180px, 'ease-in');
  @include interpolate('padding-right', 375px, 15px, 1024px, 180px, 'ease-in');

  @media(min-width: $ptablet) {
    gap: 30px 80px;
    grid-template-columns: 1fr 1fr;
  }

  .service-intro {
    line-height: 1.4;
    font-size: 28px;
    font-weight: 500;
  }

  .service-point-lists {
    .service-point-list {
      padding-top: 20px;
      margin-top: 20px;
      border-top: 1px solid var(--border-color);

      &:last-child {
        border-bottom: 0;
      }

      .service-icon {
        margin-bottom: 16px;
        display: none;

        img {
          border-radius: 4px;
        }
      }

      .service-text {
        font-weight: 500;
        font-size: 26px;
        line-height: 1.2;
        margin-bottom: 14px;
      }

      .service-content {
        font-size: 16px;
        line-height: 1.4;
      }
    }
  }
}

.service-whatwe-list {
  @include interpolate('padding-top', 375px, 60px, 1024px, 120px, 'ease-in');
  // @include interpolate('padding-bottom', 375px, 60px, 1024px, 120px, 'ease-in');

  .service-lists {
    display: flex;
    flex-wrap: wrap;

    .service-list {
      border-radius: 4px;
      flex: 0 0 calc(50% - 0px);
      max-width: calc(50% - 0px);
      margin-bottom: 15px;
      padding: 8px;

      @media(min-width: $mobile) {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
      }

      @media(min-width: $tablet) {
        flex: 0 0 20%;
        max-width: 20%;
        padding: 16px;
      }
      @media(min-width: $ptablet) {
        flex: 0 0 25%;
        max-width: 25%;
      }
    }

    .service-icon {
      width: 48px;
      height: 48px;
    }

    .service-title {
      padding-top: 8px;
      // font-size: 16px;
      @include interpolate("font-size", 576px, 14px, 992px, 16px, "ease-in");
    }
  }
}
