html {
  backface-visibility: hidden;
  font-variant-ligatures: normal;
  -webkit-font-smoothing: antialiased;
  font-size: 100%;

  // base font size is 16px
  * {
    will-change: background-color, color;
    transition: background-color 0.65s var(--ease-in-out-soft),
      color 0.65s var(--ease-in-out-soft),
      border 0.65s var(--ease-in-out-soft);
  }
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  text-rendering: geometricPrecision;
  font-size: 16px;
  font-family: var(--primary-font);
  font-weight: 400;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.8);
  background: rgba(0, 0, 0, 1);
  padding-top: 96px;
}

p {
  font-size: 16px;
  line-height: 30px;
  line-height: 1.4;
  font-family: var(--secondary-font);
  color: $black;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0px;
  }
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--pure--black);
  margin: 3rem 0 1.38rem;
  font-family: var(--primary-font);
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 2.488rem;
}

h2 {
  font-size: 2.074rem;
}

h3 {
  font-size: 1.728rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.2rem;
}

small,
.text_small {
  font-size: 0.833rem;
}

li {
  color: $black;
  font-family: var(--secondary-font);
  // margin-left: 20px;
  // padding-top: 4px;
  padding-bottom: 4px;

  &:last-child {
    padding-bottom: 0;
  }
}

input,
button {
  color: $black;
  cursor: pointer;
  font-family: var(--secondary-font);
}

a {
  font-family: var(--secondary-font);
  cursor: pointer;
  border-radius: 4px;
  // &:not(.button) {
  //   position: relative;
  //   padding-bottom: 5px;
  //   &:after {
  //     content: "";
  //     content: none;
  //     display: block;
  //     width: 100%;
  //     height: 1px;
  //     position: absolute;
  //     left: 0;
  //     right: 0;
  //     bottom: 0;
  //   }
  //   &:hover {
  //     &:after {
  //       opacity: 1;
  //       animation: 0.35s ease-out 0s scale-out forwards, 0.35s ease-out 0.35s scale-in forwards;
  //     }
  //   }
  // }
}

@import 'navigation';

.hero-container {
  @include interpolate('padding-top', 375px, 60px, 1024px, 120px, 'ease-in');
  margin: 0 -15px;
  display: flex;
  flex-direction: column;
  z-index: 1;

  @media(min-width: 768px) {
    flex-direction: row;

    >div {
      flex: 0 0 50%;
    }
  }

  .content-video {
    padding: 0 15px;
    height: 614px;
    margin-bottom: -24px;
    @include interpolate('padding-left', 375px, 60px, 1024px, 140px, 'ease-in');

    @media(min-width: 768px) {
      width: 400px;
      height: auto;
      min-height: 444px;
    }
  }

  .content-text {
    padding: 0 15px;

    * {
      color: #fff;
    }
  }

  h1 {
    font-size: 28px;

    @media(min-width: 768px) {
      font-size: 34px;
    }

    @media(min-width: 1200px) {
      font-size: 40px;
    }
  }

  p {
    font-size: 16px;
    line-height: 1.6;

    a {
      &:after {
        content: none;
      }

      margin-bottom: 30px;
      border: 0;
      padding: 14px 40px;
      font-size: 14px;
      font-weight: 500;
      background-color: var(--pri-color);
      color: #0d0e0e !important;
    }
  }
}

.detail-header {
  @include interpolate('padding-top', 375px, 60px, 1024px, 120px, 'ease-in');
  margin: 0 -15px;
  display: flex;
  flex-direction: column;
  z-index: 1;

  @media(min-width: 768px) {
    flex-direction: row;

    >div {
      flex: 0 0 50%;
    }
  }

  .content-image {
    text-align: center;
    padding: 30px 15px 60px;
    height: auto;
    margin-bottom: -24px;

    @media(min-width: 768px) {
      padding-top: 0;
      @include interpolate('padding-left', 375px, 60px, 1024px, 140px, 'ease-in');
      width: 400px;
      height: auto;
      min-height: 444px;
    }
  }

  .content-text {
    padding: 0 15px;

    * {
      color: #fff;
    }
  }

  h1 {
    font-size: 28px;

    @media(min-width: 768px) {
      font-size: 34px;
    }

    @media(min-width: 1200px) {
      font-size: 60px;
    }
  }

  p {
    font-size: 16px;
    line-height: 1.6;
  }
}

.home-card-3 {
  background-image: linear-gradient(180deg, #efefef, #fff);
  @include interpolate('padding-top', 375px, 40px, 1024px, 60px, 'ease-in');
}

.container-grid {
  background-image: linear-gradient(180deg, #efefef, #fff);
  display: grid;
  width: 100%;
  min-width: 100%;
  // padding-top: 60px;
  @include interpolate('padding-bottom', 375px, 40px, 1024px, 120px, 'ease-in');
  grid-template-columns: 1fr;
  gap: 120px 30px;

  @media(min-width: 1200px) {
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .cards {
    background: #fff;
    padding: 60px 40px 40px;
    @include interpolate('padding-left', 375px, 20px, 1024px, 40px, 'ease-in');
    @include interpolate('padding-right', 375px, 20px, 1024px, 40px, 'ease-in');
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    &-icon {
      background: #fff;
      width: 90px;
      height: 90px;
      border-radius: 128px;
      box-shadow: 7px 7px 30px 0 rgba(0, 0, 0, 0.10%);
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -60px;

      img {
        width: 40px;
      }
    }

    h2 {
      font-size: 28px;
      font-weight: 500;
      margin-top: 0;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 20px;
    }

    a {
      &:after {
        content: none;
      }

      font-size: 16px;
      padding: 18px 42px;
      text-transform: uppercase;
      background: var(--black);
      color: var(--white);
      text-align: center;
      margin-top: auto;
    }
  }
}

.status-content {
  * {
    color: #fff;
  }

  @include interpolate('padding-top', 375px, 40px, 1024px, 80px, 'ease-in');
  @include interpolate('padding-bottom', 375px, 40px, 1024px, 80px, 'ease-in');

  @media(min-width: 768px) {
    display: flex;
  }

  h1,
  p {
    margin: 0;
    padding: 0;
  }

  .area-left {
    padding-bottom: 20px;
    padding-right: 0;

    @media(min-width: 768px) {
      min-width: 332px;
      padding-bottom: 0;
      @include interpolate('padding-right', 375px, 20px, 1024px, 40px, 'ease-in');
    }
  }

  .area-right {
    p {
      font-size: 18px;
      line-height: 1.6;
    }
  }
}

.price-table {
  * {
    color: #fff;
  }

  @include interpolate('padding-bottom', 375px, 40px, 1024px, 80px, 'ease-in');
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    width: 0px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px #000;
    border-radius: -px;
  }

  &::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 0px;
  }

  .price-lists {
    min-width: 280px;
    border: 1px solid;
    padding: 10px;
    display: flex;
    flex-direction: column;

    @media(min-width: 768px) {
      padding: 30px;
    }
  }

  .price-header {
    .price-title {
      font-size: 30px;
      margin-bottom: 16px;
    }

    p {
      font-size: 14px;
      margin-bottom: 18px;
    }
  }

  .price-amount {
    .small-text {
      font-size: 14px;
      font-weight: 300;
      margin-bottom: 4px;

      &.v-none {
        visibility: hidden;
      }
    }

    .price-text {
      margin-bottom: 30px;

      .contact-text,
      span {
        font-size: 30px;
        font-weight: 500;
      }

      .price-symbol {
        font-weight: 400;
      }

      .sup {
        font-weight: 300;
      }
    }
  }

  .price-content {
    p {
      font-size: 14px;
      margin-bottom: 10px;
    }

    ul {
      li {
        font-size: 16px;
        margin-bottom: 16px;
        position: relative;

        &:before {
          width: 18px;
          height: 18px;
          padding-right: 4px;
          display: inline-block;
          content: "";
          vertical-align: middle;
          background-image: url('data:image/svg+xml,<svg fill="%23fff" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/> <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/> </svg>');
          background-repeat: no-repeat;
        }

        &[data-title] span {
          position: relative;

          &:after {
            content: "";
            content: none;
            height: 1px;
            width: 100%;
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
          }

          border-bottom: 1px dashed #fff;
        }
      }
    }
  }

  .price-button {
    margin-top: auto;

    a {
      margin-top: 30px;
      background: var(--pri-color);
      color: #0d0e0e;
      padding: 14px 14px;
      display: block;
      text-align: center;
      font-size: 20px;
    }
  }
}

.footer {
  background-color: var(--black);

  p,
  a {
    color: var(--white);
  }

  a {
    &:after {
      background-color: var(--black);
    }

    &:hover {
      &:after {
        background-color: var(--pri-color);
      }
    }
  }

  &-information {
    display: flex;
    flex-direction: column;

    @media(min-width: 768px) {
      flex-direction: row;
    }

    position: relative;
    margin-left: -15px;
    margin-right: -15px;

    .content-right-side,
    .content-left-side {
      overflow: hidden;

      @media(min-width: 768px) {
        width: 50%;
      }

      flex: 0 0 auto;
    }

    .text-content {
      position: relative;
      z-index: 0;
      @include interpolate('padding-top', 375px, 30px, 1024px, 60px, 'ease-in');
      @include interpolate('padding-bottom', 375px, 30px, 1024px, 60px, 'ease-in');
      @include interpolate('padding-left', 375px, 30px, 1024px, 110px, 'ease-in');
      @include interpolate('padding-right', 375px, 30px, 1024px, 110px, 'ease-in');

      &:hover {
        img {
          filter: blur(0);
        }
      }

      img {
        object-fit: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        filter: blur(5px);
      }

      a {
        position: relative;
        padding: 0;
        z-index: 1;

        &:after {
          content: none !important;
        }

        h3 {
          font-size: 32px;
          padding-top: 0;
          margin-top: 0;
        }

        p {
          font-size: 18px;
          margin-bottom: 30px;

          &:last-child {
            padding: 6px 0;
            font-size: 16px;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &-lists {
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;

    .footer-column {
      padding-top: 30px;
      padding-right: 30px;
      order: 1;
      min-width: 170px;

      @media (min-width: 768px) {
        order: 0;
      }

      &:last-child {
        order: 0;
        flex: 1 0 100%;

        @media (min-width: 768px) {
          padding-right: 0;
          flex: 0 0 auto;
          padding-left: 20%;
        }

        p {
          font-size: 38px;
        }

        .button {
          padding: 18px 42px;
          font-size: 14px;
          font-weight: 500;
          background-color: var(--pri-color);
          color: var(--black);
        }
      }

      li {
        padding: 0;
        margin: 0;

        &:first-child {
          a {
            font-weight: 500;
            font-weight: bold;
          }
        }

        a {
          padding: 8px 0;
          font-size: 16px;
        }
      }
    }
  }

  &-mini {
    @media(min-width: 576px) {
      display: flex;
      justify-content: space-between;
    }

    border-top: 1px solid #e1e1e1;
    padding-top: 15px;
    padding-bottom: 15px;

    p {
      font-size: 14px;
    }

    ul {
      padding-top: 15px;

      @media(min-width: 576px) {
        padding-top: 0;
      }

      li {
        @media(min-width: 576px) {
          display: inline-block;
          padding-left: 14px;
        }

        font-size: 14px;

        a:after {
          content: none;
        }
      }
    }
  }
}

html {
  backface-visibility: hidden;
  font-variant-ligatures: normal;
  -webkit-font-smoothing: antialiased;
  font-size: 100%;

  // base font size is 16px
  * {
    will-change: background-color, color;
    transition: background-color 0.65s var(--ease-in-out-soft),
      color 0.65s var(--ease-in-out-soft),
      border 0.65s var(--ease-in-out-soft);
  }
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  text-rendering: geometricPrecision;
  font-size: 16px;
  font-family: var(--primary-font);
  font-weight: 400;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.8);
}

p {
  font-size: 16px;
  line-height: 30px;
  line-height: 1.4;
  font-family: var(--secondary-font);
  color: $black;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0px;
  }
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--pure--black);
  margin: 3rem 0 1.38rem;
  font-family: var(--primary-font);
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 2.488rem;
}

h2 {
  font-size: 2.074rem;
}

h3 {
  font-size: 1.728rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.2rem;
}

small,
.text_small {
  font-size: 0.833rem;
}

li {
  color: $black;
  font-family: var(--secondary-font);
  // margin-left: 20px;
  // padding-top: 4px;
  padding-bottom: 4px;

  &:last-child {
    padding-bottom: 0;
  }
}

input,
button {
  color: $black;
  cursor: pointer;
  font-family: var(--secondary-font);
}

a {
  font-family: var(--secondary-font);
  cursor: pointer;
  border-radius: 4px;
  // &:not(.button) {
  //   position: relative;
  //   padding-bottom: 5px;
  //   &:after {
  //     content: "";
  //     content: none;
  //     display: block;
  //     width: 100%;
  //     height: 1px;
  //     position: absolute;
  //     left: 0;
  //     right: 0;
  //     bottom: 0;
  //   }
  //   &:hover {
  //     &:after {
  //       opacity: 1;
  //       animation: 0.35s ease-out 0s scale-out forwards, 0.35s ease-out 0.35s scale-in forwards;
  //     }
  //   }
  // }
}

@import 'navigation';

.hero-container {
  @include interpolate('padding-top', 375px, 60px, 1024px, 80px, 'ease-in');
  margin: 0 -15px;
  display: flex;
  flex-direction: column;
  z-index: 1;

  @media(min-width: 768px) {
    flex-direction: row;

    >div {
      flex: 0 0 50%;
    }
  }

  .content-video {
    padding: 0 15px;
    height: 614px;
    margin-bottom: -24px;

    @media(min-width: 768px) {
      width: 400px;
      height: auto;
      min-height: 414px;
    }
  }

  .content-text {
    padding: 0 15px;

    * {
      color: #fff;
    }
  }

  h1 {
    font-size: 28px;

    @media(min-width: 768px) {
      font-size: 34px;
    }

    @media(min-width: 1200px) {
      font-size: 2.488rem;
      font-size: 40px;
    }
  }

  p {
    font-size: 16px;
    line-height: 1.6;

    a {
      &:after {
        content: none;
      }

      margin-bottom: 30px;
      border: 0;
      padding: 14px 40px;
      font-size: 14px;
      font-weight: 500;
      background-color: var(--pri-color);
      color: #0d0e0e !important;
    }
  }
}

.container-grid {
  background-image: linear-gradient(180deg, #efefef, #fff);
  display: grid;
  width: 100%;
  min-width: 100%;
  padding-top: 120px;
  padding-bottom: 120px;
  grid-template-columns: 1fr;
  gap: 120px 30px;

  @media(min-width: 1200px) {
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .cards {
    background: #fff;
    padding: 60px 40px 40px;
    @include interpolate('padding-left', 375px, 20px, 1024px, 40px, 'ease-in');
    @include interpolate('padding-right', 375px, 20px, 1024px, 40px, 'ease-in');
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    &-icon {
      background: #fff;
      width: 90px;
      height: 90px;
      border-radius: 128px;
      box-shadow: 7px 7px 30px 0 rgba(0, 0, 0, 0.10%);
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -60px;

      img {
        width: 40px;
      }
    }

    h2 {
      font-size: 28px;
      font-weight: 500;
      margin-top: 0;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 20px;
    }

    a {
      &:after {
        content: none;
      }

      font-size: 16px;
      padding: 18px 42px;
      text-transform: uppercase;
      background: var(--pri-color);
      color: #0d0e0e;
      text-align: center;
      margin-top: auto;
    }
  }
}

.footer {
  background-color: var(--black);

  p,
  a {
    color: var(--white);
  }

  a {
    &:after {
      background-color: var(--black);
    }

    &:hover {
      &:after {
        background-color: var(--pri-color);
      }
    }
  }

  &-information {
    display: flex;
    flex-direction: column;

    @media(min-width: 768px) {
      flex-direction: row;
    }

    position: relative;
    margin-left: -15px;
    margin-right: -15px;

    .content-right-side,
    .content-left-side {
      overflow: hidden;

      @media(min-width: 768px) {
        width: 50%;
      }

      flex: 0 0 auto;
    }

    .text-content {
      position: relative;
      z-index: 0;
      @include interpolate('padding-top', 375px, 30px, 1024px, 60px, 'ease-in');
      @include interpolate('padding-bottom', 375px, 30px, 1024px, 60px, 'ease-in');
      @include interpolate('padding-left', 375px, 30px, 1024px, 110px, 'ease-in');
      @include interpolate('padding-right', 375px, 30px, 1024px, 110px, 'ease-in');

      &:hover {
        img {
          filter: blur(0);
        }
      }

      img {
        object-fit: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        filter: blur(5px);
      }

      a {
        position: relative;
        padding: 0;
        z-index: 1;

        &:after {
          content: none !important;
        }

        h3 {
          font-size: 32px;
          padding-top: 0;
          margin-top: 0;
        }

        p {
          font-size: 18px;
          margin-bottom: 30px;

          &:last-child {
            padding: 6px 0;
            font-size: 16px;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &-lists {
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;

    .footer-column {
      padding-top: 30px;
      padding-right: 30px;
      order: 1;
      min-width: 170px;

      @media (min-width: 768px) {
        order: 0;
      }

      &:last-child {
        order: 0;
        flex: 1 0 100%;

        @media (min-width: 768px) {
          padding-right: 0;
          flex: 0 0 auto;
          padding-left: 20%;
        }

        p {
          font-size: 38px;
        }

        .button {
          padding: 18px 42px;
          font-size: 14px;
          font-weight: 500;
          background-color: var(--pri-color);
          color: var(--black);
        }
      }

      li {
        padding: 0;
        margin: 0;

        &:first-child {
          a {
            font-weight: 500;
            font-weight: bold;
          }
        }

        a {
          padding: 8px 0;
          font-size: 16px;
        }
      }
    }
  }

  &-mini {
    @media(min-width: 576px) {
      display: flex;
      justify-content: space-between;
    }

    padding-top: 15px;
    padding-bottom: 15px;

    p {
      font-size: 14px;
    }

    ul {
      padding-top: 15px;

      @media(min-width: 576px) {
        padding-top: 0;
      }

      li {
        @media(min-width: 576px) {
          display: inline-block;
          padding-left: 14px;
        }

        font-size: 14px;

        a:after {
          content: none;
        }
      }
    }
  }
}

.footer__cookie {
  // display: none !important;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #E5F3FE;
  z-index: 9999999;
  display: flex;

  .wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    @media(min-width: 710px) {
      flex-direction: row;
      padding: 20px 0;
    }
  }

  p {
    display: inline-block;
    font-size: 11px;
    line-height: 18px;
    color: #474747;
    margin: 13px 20px 0;
    max-width: calc(100% - 40px);
    text-align: center;

    @media(min-width: 710px) {
      font-size: 13px;
      line-height: 18px;
      max-width: 40%;
      margin: 0 30px 0 8px;
      text-align: left;
    }

    @media(min-width: 1200px) {
      max-width: initial;
    }

    a {
      color: var(--pri-color);
      margin-left: 5px;
    }
  }

  img {
    margin: 24px auto 16px;
    width: 24px;
    height: 24px;
    display: inline-block;
    display: none;

    @media(min-width: 710px) {
      display: block;
      margin: 0 auto;
    }
  }

  .cookie-btn {
    display: inline-block;
    margin: 13px auto 12px;

    @media(min-width: 710px) {
      margin: 0 auto;
    }

    .btn-agree {
      cursor: pointer;
      border-radius: 4px;
      letter-spacing: 0.02em;
      padding: 8px 45px;
      border-radius: 4px;
      @include interpolate('font-size', 768px, 12px, 992px, 14px);
      @include interpolate('line-height', 768px, 14px, 992px, 17px);
      border: 1px solid;
      border-color: var(--pri-color);
      background-color: var(--pri-color);
      color: #0d0e0e !important;
      margin-right: 0;
    }
  }
}

.hero-container-about {

  // overflow: hidden;
  h2 {
    font-size: 38px;
    color: white;
    text-align: center;
    margin-bottom: 30px;
  }

  &-image {
    position: relative;
    z-index: 1;

    &:after {
      content: "";
      position: absolute;
      background-color: #fff;
      bottom: 0;
      left: -15px;
      right: -15px;
      margin: 0 auto;
      padding-bottom: 40px;
      width: calc(100% + 30px);
      height: 50%;
      z-index: -1;
    }
  }

  img {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 75%;

    @media(min-width: 768px) {
      width: 50%;
    }
  }
}

.about-us-content {
  background-color: #fff;
  @include interpolate('padding-top', 375px, 30px, 1024px, 60px, 'ease-in');
  @include interpolate('padding-bottom', 375px, 30px, 1024px, 60px, 'ease-in');


  margin: 0 auto;

  img {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: block;
    margin-bottom: 30px;

    @media(min-width: 768px) {
      width: 64%;
    }
  }

  h1,
  h2,
  h3 {
    margin-top: 40px;

    p,
    h1,
    h2,
    h3 {
      width: 100%;
      margin-left: auto;
      margin-right: auto;

      @media(min-width: 768px) {
        width: 50%;
      }
    }
  }
  }
  .container-fluid  .container{
    padding-left: 0;
    padding-right: 0;
  }
